<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
    Order Summary
</div>
<div class="p-4">
    <p class="font-italic mb-4">Frais de livraison seront ajoutés en fonction des choix effectués lors du paiement</p>
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Sous-total de la commande</strong>
            <strong>{{subtotal}} <span>,TND</span></strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping and handling</strong>
            <strong>{{shippingPrice}}<span>,TND</span></strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong>{{total}}<span>,TND</span></strong>
        </li>
    </ul>
</div>

 