.list-group-item{
    cursor: pointer;
    // border: none;
    padding: 10px 20px;
    font-size: .9em;
    transition: .5s;


    &:focus{
        outline: none;
    }

    &.active{
        // border-radius: 10px;
        background-color: #60be74;

    }

    &:not(.active):hover{
        color: #fff;
        background-color: #78b144;
    }

}