 .see-btn{
     height: 40px;
     width: 130px;
     border-radius: 150px;
      
 }


 .about-us{
     background-color: #f7f6f2;
    margin-top: 3rem;
    padding-bottom: 3rem;
 }

 .intro-header{
     text-align: center;
     padding: 2rem;
     margin-right: 3em;
    
 }

 .intro-header h3{
   color: #78b144;
   font-size: 44px;
   font-family: Georgia, 'Times New Roman', Times, serif
   
}

.intro-item p{
    font-size: 14px;
    line-height: 20px;
}