 
.cart-no{
    position: absolute;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    font-size: 1em;
    background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a{
    text-decoration: none;
    color: #343a40;

    &.active {
    color: orange;
    }
}

.logo{
    cursor: pointer;

    &.focus {
        outline: none;
    }
}

.navbar{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    
}

 
 