 
.cart-no{
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 0.8em;
    font-weight: bold;
    background: #60be74;


    color: white;
    text-align: center;
    top: -15px;
    right: 5px;
}

a{
    text-decoration: none;
    color: #343a40;

    &.active {
    color: orange;
    }
}

.logo{
    cursor: pointer;

    &.focus {
        outline: none;
    }
}

 

.login-btn{
   border: solid;
   border-width: 2px;
   border-color: #60be74;
    border-radius: 4px;
    padding: 0px 10px 0px 10px;
    color: #585858;
    font-weight: 500;
    margin-right: 5px;
    transition: 0.3s;

    &:hover{
        background-color: #60be74;
        color: white;
    }
}

.sign-btn{
    background-color: #60be74;
     border-radius: 4px;
     padding: 2px 15px 2px 15px;
     color: white;
     font-weight: 500;
     margin-right: 5px;
     transition: 0.3s;
     
     &:hover{
        background-color: #60be74;
        color: #585858; 
    }
  
}

@media screen and (max-width: 1000px) {
    .navbar{
        padding-top: 20px;
        
    }
  }

 


  

 
 